body {
  width: 1920;
}

header {
  height: 100px;
  background-color: #707070;
  opacity: 0.8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  padding-left: 60px;
}

header ul {
  display: flex;
}

header li {
  padding-right: 60px;
}

.top {
  height: 980px;
  background-image: url(imgBg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top h1 {
  font-size: 36px;
  font-weight: bold;
}

.top p {
  padding-top: 100px;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 980px;
}

.media h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 100px 0 60px 0;
}

.media p {
  font-size: 24px;
  margin-bottom: 100px;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 240px;
  height: 400px;
  border: 1px black solid;
  margin: 0 30px 0 30px;
}
